<div class="sign-in-container">

  <div>

    <form name="signIn">

      <div>
        <input type="text" placeholder="이메일" ng-model="credential.email">
      </div>

      <div>
        <input type="password" placeholder="비밀번호" ng-model="credential.password">
      </div>

      <div>
        <input type="checkbox" ng-model="credential.keepLogin" ng-true-value=1 ng-false-value=0> 로그인 상태 유지
      </div>

      <div>
        <input type="submit" value="로그인" ng-click="signIn(credential)">
      </div>

      <small class="text-warn" ng-bind="formMessage"></small>

    </form>

  </div>

</div>
