<div class="sign-in-container">

  <div>

    <form name="signIn">

      <div class="email-form">
        <input type="text" placeholder="email@yourdomain.com" ng-model="credential.email">
      </div>

      <div class="password-form">
        <input type="password" placeholder="password" ng-model="credential.password">
      </div>

      <div class="keep-login-form">
        <input type="checkbox" ng-model="credential.keepLogin" ng-true-value=1 ng-false-value=0> 로그인 상태 유지
      </div>

      <div class="login-button">
        <input type="submit" value="로그인" ng-click="signIn(credential)">
      </div>

      <small class="text-warn" ng-bind="formMessage"></small>

    </form>

  </div>

</div>
