<div ng-include="'components/navbar/navbar.html'"></div>

<div class="scan-energy-container" ng-init="init()">

  <header>
    <div class="title">
      <h2>지금 이 순간!</h2>
      <p>Real time으로 확인하는 초 단위 사용량이예요.</p>
    </div>
  </header>

  <section>

    <div class="realtime-graph">
      <div class="blur-layer" ng-if="!hasDevices"></div>
      <realtime-chart is-active="isActive" ng-if="hasDevices"></realtime-chart>
    </div>

    <div class="connect-button" ui-sref="device">
      <span class="scan-icon"></span> Energy Scanner 연결
    </div>

    <div class="scan-button" ng-if="hasDevices" ui-sref="appliance">SCAN</div>

  </section>

</div>
