<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="appliance-container" ng-init="init()">

  <header>

    <div class="title">
      <h2>Appliance List</h2>
    </div>

  </header>

  <section>

    <div class="appliance-frame" ng-repeat="appl in appliances" ng-show="appl.id === selected.id || !showSetting"
      ng-class="{setting: showSetting}">

      <div class="appliance" ng-click="setAppliance(appl)">
        <img ng-src="{{applianceIcon[appl.code]}}">
        <p ng-bind="appl.desc || appl.name"></p>
      </div>

      <div class="appliance-setting" ng-if="showSetting">

        <div class="model">
          <h4>Model Name</h4>
          <input class="text" type="text" ng-model="selected.modelName" placeholder="모델명: ex) R-U956VBLB">
        </div>

        <div class="mode">
          <h4>Mode</h4>
          <input class="text" type="text" ng-model="selected.mode1" placeholder="On (동작시 전력 소모)">
        </div>

        <div class="name" ng-if="selected.code === 'A5' && !selected.desc">
          <h4>Appliance Name</h4>
          <input class="text" type="text" ng-model="selected.name" placeholder="ex) 헤어드라이기, TV.." ng-init="selected.name = (selected.desc || selected.name)">
        </div>

        <div class="start-button" ng-click="goToScanSetting()">
          <span class="icon"></span> Scan Start
        </div>

      </div>

    </div>

  </section>

</div>
