.device-container {
  padding-top: 100px;
  color: #395b77;

  header {

    .title {
      text-align: center;
    }
  }

  section {

    .device-list {
      padding-top: 30px;
      text-align: center;

      li {
        height: 50px;
        line-height: 50px;

        input[type="radio"] {
          width: 12px;
          height: 12px;
          margin-right: 10px;
          outline: 0;
          -webkit-appearance: none;
          background: url("../assets/images/checkbox_off.png") no-repeat center;
          background-size: 100% 100%;
          vertical-align: middle;

          @media (-webkit-min-device-pixel-ratio: 2) {
            background-image: url("../assets/images/checkbox_off@2x.png");
          }
        }

        &.on {
          background-color: #d0d0d0;

          input[type="radio"] {
            background-image: url("../assets/images/checkbox_on_blue.png");

            @media (-webkit-min-device-pixel-ratio: 2) {
              background-image: url("../assets/images/checkbox_on_blue@2x.png");
            }
          }

        }
      }
    }

    .register {
      margin-top: 50px;
      text-align: center;

      .register-button {
        display: inline-block;
        font-size: 18px;
        padding: 12px;
        color: #129fdd;

        &:visited {
          color: #129fdd;
        }

        &:hover {
          color: #395b77;
        }
      }

      .register-form {

        .serial, .hash, .label {
          margin-top: 8px;

          input {
            width: 100%;
            color: #395B77;
            background-color: #f6f9fb;
            border: 1px solid #d4dee5;
            padding: 12px;
            font-size: 14px;

            &:focus {
              border: 1px solid #129fdd;
            }
          }
        }

        .buttons {
          text-align: center;
          margin-top: 10px;

          .cancel, .confirm {
            width: 40%;
            padding: 16px;
            font-size: 14px;

            &:before {
              display: inline-block;
              width: 10px;
              height: 10px;
            }
          }

          .cancel {
            margin-right: 5%;
            border: 1px solid #d4dee5;
            color: #798ca7;

            &:hover {
              color: #395B77;
            }
          }

          .confirm {
            color: #fff;
            background-color: #129fdd;

            &:hover {
              background-color: #395b77;
            }
          }
        }
      }
    }

    .continue {
      margin-top: 50px;

      .continue-button {
        width: 100%;
        font-size: 18px;
        padding: 12px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background-color: #129fdd;

        &:hover {
          background-color: #395b77;
        }
      }
    }

  }

}
