<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="device-container" ng-init="init()">

  <header>
    <div class="title">
      <h2>Energy Scanner List</h2>
    </div>
  </header>

  <section>

    <ul class="device-list">
      <li ng-if="!hasDevices">아직 등록된 디바이스가 없습니다.</li>
      <li ng-repeat="device in devices" ng-class="{on: device === selected.device}" ng-click="selectDevice(device)">
        <input type="radio" class="select-button"> {{device.serial}} ({{device.label}})
      </li>
    </ul>

    <div class="register">
      <a href class="register-button" ng-show="!showRegisterForm" ng-click="addNewDeviceForm()">
        <span class="add-icon"></span> Energy Scanner 추가
      </a>
      <div class="register-form" ng-show="showRegisterForm">
        <h3>New Device</h3>
        <div class="serial">
          <input type="text" placeholder="Serial Number (Required)" ng-model="newDevice.serial">
        </div>
        <div class="label">
          <input type="text" placeholder="Device Label (Optional)" ng-model="newDevice.label">
        </div>
        <div class="buttons">
          <button class="cancel" ng-click="register.cancel()">Cancel</button>
          <button class="confirm" ng-click="register.confirm(newDevice)">Confirm</button>
        </div>
      </div>
    </div>

    <div class="continue">
      <div class="continue-button" ng-show="selected.device" ng-click="goToScanEnergy()">
        <span class="add-icon"></span> 설정 후 계속하기
      </div>
    </div>

  </section>

</div>
